@model TicketHandler.Models.ViewModels.DataViewModel
@{
    ViewData["Title"] = "ListPeople";
}


<h1>People</h1>
<a class="btn btn-sm btn-success" asp-controller="People" asp-action="Create">Create new person</a>
<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Admin">Back to admin</a>
<div class="badge">
    <table class="table table-responsive-sm table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].PhoneNumbers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.People[0].Email)
                </th>
               


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.People.OrderBy(p => p.FullName))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumbers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    
                    <td>
                        <a class="btn btn-sm btn-success" asp-controller="People" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-success" asp-controller="People" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
