@model TicketHandler.Models.DataModels.WorkLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WLNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WLNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incident.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEEntersSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEEntersSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEEExitsSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEEExitsSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkLogStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkLogStatus.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
